nav {
  background-color: black;
}

.nav--ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
}

.nav--heading a {
  padding-right: 2rem;
  color: white;
  text-decoration: none;
}

.nav--dropdown:hover > .nav--dropdown {
  display: block;
  margin-top: 0;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: black;
}

.footer--ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer--ul li {
  margin: 10px;
  color: white;
  font-weight: bold;
}

.list {
  list-style: none;
}
