nav {
  background-color: black;
}

.nav--ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  margin: 0;
}

.nav--heading a {
  padding-right: 2rem;
  color: white;
  text-decoration: none;
}

.nav--dropdown:hover > .nav--dropdown {
  display: block;
  margin-top: 0;
}
